body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
  }

	body, html {
		margin: 0;
		padding: 0;
		height: 100%;
}

#replayButton {
	background-color: #ff1489;
	border: none;
  cursor: pointer;
	outline: none;
  padding: 10px 20px;
  appearance: none;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	border-radius:30px;
}

#pauseButton {
	background-color: rgb(164, 164, 164);
	border: none;
  cursor: pointer;
	outline: none;
  padding: 10px 20px;
  appearance: none;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	border-radius:30px;
	margin: 10px;
}

.btn {
	display: flex;
	flex-direction: column;
}

#scoreDisplay,#highScoreDisplay {
	color: #fff;
	font-weight: bold;
	font-size: 30px;
}

#scoreDisplay {
	padding-left: 50px;
}

.score {
	display: flex;
	flex-direction: column;
	margin: 30px;
}

.col {
	display: flex;
}

#modalButton {
	color: #ff1489;
	background-color: beige;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin: 10px;
}

.modal {
	display: none; /* 初期状態では非表示 */
	position: fixed;
	z-index: 1; /* 他の要素より上に表示 */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* コンテンツが画面外にはみ出た場合にスクロール可能にする */
	background-color: rgb(0,0,0); /* 透明度のある黒 */
	background-color: rgba(0,0,0,0.4); /* 透明度のある黒 */
  }
  
  /* モーダルのコンテンツ */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
  }
  
  /* 閉じるボタン */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }